<div class="row">

<div class="col-xs-7">

<p>Спасибо за обращение! Ориентировочная стоимость подключения вашего участка к электросети составит <%= @request.app_price %>. В эту сумму входит:</p>
<p>1. Консультация по подключению электричества.</p>
<p>2. Оформление заявки на подключение к электросетям.</p>
<p>3. Получение договора технологического подключения.</p>
<p>4. Необходимые материалы для монтажа трубостойки и щита учета.</p>
<p>5. Организация проверки подключения сотрудниками электросетевой компании.</p>
<p>6. Оформление и получение всей необходимой разрешительной документации в сетевой компании.</p>
<p>7. Заключение договора с энергосбытовой компанией. </p>
<p>Если вы оставили контакт, то в ближайшее время наши сотрудники свяжутся с вами для обсуждения деталей подключения вашего участка</p>
<p>Если у вас возникли дополнительные вопросы, вы можете воспользоваться формой для отправки сообщений.</p>

</div>

<div class="col-xs-5">
<img src="/images/lantern.jpg" class="img-responsive" alt="Responsive image">
</div>
</div>