<div class="row">

<div class="col-xs-7">
<h2>Профессиональный подход к подключению электричества</h2>

<p>Компания «Ютэл» специализируется на подключении к электрическим сетям и последующем обслуживании электроустановок потребителей. Мы выполняем подключение к электросетям объектов любой сложности в Московской области и Новой Москве. Деятельность компании направлена на оказание максимально возможного спектра услуг в вопросах подключения электричества: консультирование перед заключением договора с сетевой организацией, проектирование, выполне.ние строительно-монтажных работ, сдача объекта контролирующим организациям, юридическое сопровождение процесса электроснабжения</p>
<p>Воспользуйтесь специальной <a href="/admin">формой расчета</a>
 стоимости электроснабжения вашего участка!</p>
</div>
<div class="col-xs-5">
<img src="/images/pexels-photo.jpg" class="img-responsive" alt="Responsive image">
</div>
</div>

<h2>Некоторые реализованные объекты</h2>
<h3>Подключение участков к электросети</h3>

<div class="row">
<div class="col-xs-4">
<h4>Подключение участка в Новой Москве</h4>
</div>
<div class="col-xs-4">
<h4>Электроснабжение коттеджного поселка в Серпуховском районе</h4>
</div>
<div class="col-xs-4">
<h4>Увеличение мощности трансформатора в СНТ в Истринском районе</h4>
</div>
</div>

<div class="row">
<div class="col-xs-4">
<img src="/images/13691.jpg" class="img-responsive" alt="Responsive image">
</div>
<div class="col-xs-4">
<img src="/images/Serp.jpg" class="img-responsive" alt="Responsive image">
</div>
<div class="col-xs-4">
<img src="/images/11.jpg" class="img-responsive" alt="Responsive image">
</div>
</div>

<div class="row">
<div class="col-xs-4">
Установлена трубостойка со щитом учета, смонтирован воздушный ввод до жилого дома
</div>
<div class="col-xs-4">
Установка КРН-10 кВ, КТП, внутренних воздушных линий для элентроснабжения коттеджного поселка
</div>
<div class="col-xs-4">
Получение технических условий, замена трансформатора в существующей подстанции
</div>
</div>